<div class="row">
    <div class="table" >
        <thead>
            <tr>
                <th >Username</th>
                <th >Active roles</th>
                <th ></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td><button  (click)="openRolesModal()" class="btn">Edit Roles</button></td>
            </tr>
        </tbody>
    </div>
</div>
